<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.pawesome.pageposts.generate</string>
  <key>ProgramArguments</key>
  <array><string>__HOME__/pet-page-posts/launchd/run-autonomous.sh</string></array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>11</integer></dict>
    <dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>37</integer></dict>
    <dict><key>Hour</key><integer>19</integer><key>Minute</key><integer>23</integer></dict>
  </array>
  <key>StandardOutPath</key><string>__HOME__/pet-page-posts/state/launchd.out</string>
  <key>StandardErrorPath</key><string>__HOME__/pet-page-posts/state/launchd.err</string>
</dict></plist>
